body {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
}
.bkg {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.cv-profile {
  margin-left: 25%;
  margin-top: 3%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 50%;
  height: 750px;
}
.logo {
  margin-top: 4%;
  margin-left: 4%;
  width: 80%;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  display: inline;
}
.name {
  width: 60%;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 700;
}
.logo-a {
  display: inline-block;
}
